<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
</head>
teste
<body>
    <header class="topo"> 
        <a class ="cd" id="cad" href="cadastro">cadastro</a>
        
        <a class = "dt" id = "detal" href="detalhes">detalhes</a>
    </header>
    <h1 class = "tlt" id="tl" > pokedex </h1>
    <section id="pkm">
        <section id ="pkm">

            <ul id="itemNome">
                <li>Nome: Charizard </li>
                <li>Tipo: Fire and Flying </li>
            </ul>
            <ul id ="itemImage">
                <li>
                    <img src="">
                    
                </li>
            </ul>
        </section>
        <section id="pkm">
            <ul id="itemNome">
                <li>Nome: Blastoise </li>
                <li>Tipo: Walter </li>
            </ul>
            <ul id ="itemImage">
                <li>
                    <img src="">
                
                </li>
            </ul>
        </section>
        <section id="pkm">
            <ul id="itemNome">
                <li>Nome: Caterpie  </li>
                <li>Tipo: Bug </li>
            </ul>
            <ul id ="itemImage">
                <li>
                  <img src="">
                
                </li>
            </ul>
        </section>
    </section>
    
    
    
    
</body>
</html>